.menu {
    background-color: gray;
    float: left;
    height: 300px;
    width: 15em;
}

.content1 {
    background-color: gainsboro;
    height: 190px;
    width: auto;
    margin-left: 12.7%;
}

.content2 {
    background-color: gainsboro;
    height: 190px;
    margin-left: 12.7%;

    margin-top: .2em;
    width: auto;
}

.footer {
    background-color:beige;
    clear: both;
    height: auto;
    width: 100%;
    margin-top: .2em;
}

.boss {
    background-color: lightsteelblue;
    overflow: hidden;
}

.clear {
    background-color: gainsboro;
    height: 0.1px;
    clear: both;

}
.mail{
    width:80px;
    height: 80px;
   float: right;
    clear: both;
    
}